<!doctype html>

<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body class="login">
  <header>
    <!-- <button id="backbutton" href="" ></button> -->
    <img id="logo" src="../static/images/logo.png" alt="logo luvely">

  </header>
  <main class="form" >
      <h1>Login</h1>
      <form method="POST" action="/login">
        <label class="profilelabel" for="email">E-mail:</label>
        <input class="profileinput" id="email" type="email" name="email" placeholder="Email" required>
        <label class="profilelabel" for="email">Password:</label>
        <input class="profileinput" type="password" name="password" placeholder="Password" required>
        <div class="submitButtonLogin">
          <input class="next" type="submit" value="Login > ">
        </div>
      </form>
      
  </main> 
</body>